.light {
  background-color: white;
  color: black;
  min-height: 100vh;
  padding: 40px;
  transition: 0.3s;
}

.dark {
  background-color: #222;
  color: white;
  min-height: 100vh;
  padding: 40px;
  transition: 0.3s;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}